<div class="contenedor-principal">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 logo">
          <picture>
            <source srcset="assets/img/logo.webp" type="image/webp">
            <img src="assets/img/logo.webp" alt="logo weblo" width="80" height="80" class="d-inline-block align-text-top">
          </picture>
          <p>Weblo</p>
        </div>
        <div class="col-12 col-md-4">
          <h3>Enlaces</h3>
          <ul>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="#contacto">Contacto</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-4" id="contacto">
          <h3>Contacto</h3>
          <p>
            <a href="tel:098280707">098 280 707</a>
            <br>
            <a href="mailto:info@weblo.com">
              <lucide-icon name="mail" [size]="20" [strokeWidth]="1.5"></lucide-icon>
              info&#64;weblo.com
            </a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>