<div class="contenedor-principal">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 logo">
          <picture>
            <source srcset="assets/img/logo.webp" type="image/webp">
            <img src="assets/img/logo.webp" alt="logo weblo" width="60" height="60" class="d-inline-block align-text-top">
          </picture>
          <p>Weblo</p>
        </div>
        <div class="col-12 col-md-4">
          <h3>Enlaces</h3>
          <ul class="enlaces">
            <li><a class="enlace" href="#servicios">Servicios</a></li>
            <li><a class="enlace" href="#contacto">Contacto</a></li>
            <li><a class="enlace" href="https://www.instagram.com/weblo.uy/?hl=es">Instagram</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-4" id="contacto">
          <h3>Contacto</h3>
          <p>
            <a class="enlace" href="tel:098280707">098 280 707</a>
            <br>
            <a class="enlace" href="mailto:info@weblo.com">
              <lucide-icon name="mail" [size]="20" [strokeWidth]="1.5"></lucide-icon>
              info&#64;weblo.com
            </a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>