    <div class="contenedor-principal">
        <h2>Nuestros servicios</h2>

<div class="cards-container">
            <div class="card">
            <lucide-icon name="code" [size]="40" [strokeWidth]="1.5" ></lucide-icon>
            <h3>Desarrollo personalizado</h3>
            <p>Soluciones enfocadas en cumplir con las necesidades de tu negocio.</p>
        </div>

        <div class="card">
            <lucide-icon name="zap" [size]="40" [strokeWidth]="1.5" ></lucide-icon>
            <h3>Optimizacion de rendimiento</h3>
            <p>Sitios web ultrarrápidos que mantienen a tus usuarios comprometidos.</p>
        </div>

        <div class="card">
            <lucide-icon name="users" [size]="40" [strokeWidth]="1.5" ></lucide-icon>
            <h3>Diseño centrado en el usuario</h3>
            <p>Interfazes intuitivas que encantan a tus clientes.</p>
        </div>
    </div>
    </div>