<div class="contenedor-principal" id="formulario">

<h2>¿Listo para empezar?</h2>

<p>Hablemos sobre tu proyecto y veamos cómo podemos ayudarte a alcanzar tus objetivos.</p>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Nombre</label>
    <input id="name" formControlName="name" type="text" required placeholder="Juan">
  </div>

  <div>
    <label for="email">Email</label>
    <input id="email" formControlName="email" type="email" required placeholder="tumail@example.com">
  </div>

  <button type="submit">Enviar</button>
</form>

<div *ngIf="responseMessage">{{ responseMessage }}</div>

</div>